/* Blog post list
-------------------------------------------------------------------------- */

.blogpostlist {
	margin-bottom: 40px;
	ul {
		padding-bottom: 0;
	}
	.post-article {
		margin-bottom: 60px;
		padding-bottom: 53px;
		border-bottom: 1px solid darken(@bg-color, 10%);
		.image {
			margin-bottom: 34px;
		}
		.read-more {
			display: inline-block;
			margin-bottom: 3px;
		}
	}
	.post-pagination {
		li {
			display: inline-block;
			&:first-child {
				margin-right: 14px;
			}
		}
		.button {
			margin-bottom: 0;
		}
	}
}

/* Blog post
-------------------------------------------------------------------------- */

.blogpost {
	padding-bottom: 5px;
	.post-article {
		margin-bottom: 60px;
		&:only-child,
		&:last-child {
			margin-bottom: 30px;
		}
	}
	.post-content {
		margin: 0;
	}
	.post-footer {
		margin-top: 5px;
		padding: 30px;
		border: 1px solid darken(@bg-color, 10%);
	}
	.timestamp {
		margin: 0;
		padding-bottom: 19px;
		font-weight: bold;
	}
	.post-attributes {
		margin: 0;
		padding-bottom: 19px;
		p,
		ul {
			padding: 0;
		}
	}
	.timestamp,
	.category-title,
	.category-link,
	.tags-title,
	.tag-item {
		font-size: @font-swatch6-font-size;
   		line-height: @font-swatch6-line-height;
	}
	.sharing-links {
		padding-bottom: 0;
		.button {
			margin: 0;
			padding: 0;
			background-color: transparent;
			font-size: @font-swatch6-font-size;
			font-weight: @font-swatch6-font-weight;
   			line-height: @font-swatch6-line-height;
   			color: @contrast-color;
   			text-transform: none;
   			&:hover {
   				text-decoration: underline;
   			}
		}
		.icon:before {
			margin-right: 10px;
		}
	}
}

/* Blog search
-------------------------------------------------------------------------- */

.blogsearch {
	margin-bottom: 40px;
	.button {
		margin: 10px 0 0 0;
	}
}