{% extends "layout.twig" %}

{% block content %}

<!-- Zone -->
<div id="template-zone">

  <!-- Group -->
  <div class="limit group">
    <div class="col col-12-12">

      <!-- Main Widget Zone -->
      {{zone('main')|raw}}
      <!-- End of Main Widget Zone -->

    </div>
  </div>
  <!-- End of Group -->

</div>
<!-- End of Zone -->

{% endblock %}